.btn-aan {
  background-color: #80cfa9;
  color: white;
  border: none;
  margin-right: 10px;
}
.btn-uit {
  background-color: #f28b60;
  color: white;
  border: none;
  margin-right: 10px;
}
.btn-slim {
  background-color: #99cfff;
  color: white;
  border: none;
}
.card {
  margin-top: 1rem;
}
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  overflow: hidden; /* Voorkom scrollen */
}

.login-box {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f8f9fa;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.small-login-link {
  font-size: 12px;
  color: #007bff;
  text-decoration: none;
}

.message-left {
  text-align: left;
  background-color: #e1ffc7;
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0;
}

.message-right {
  text-align: right;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0;
}
